extends layout

block jumbotron
    h1 Champion Mastery
    p.lead.
        See how you're doing on a champion and find resources to help you improve.

block content
    .alert.alert-warning.alert-dismissible(role='alert')
        button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
        p.
            Sorry about any delays we are currently running on a development
            key, which can cause delays in high traffic.
    .row.marketing
        .col-lg-6
            h4 History
            p Checkout how you've been doing so far and how wide your champion pool really is.
            h4 How Tos
            p Learning a champion? Find resources about how you can improve.
            h4 Compete
            p Show off to your friends your mastery collection.
        .col-lg-6
            h4 Builds
            p
                | Find resources to get new builds for champions you love and maybe some your just starting out with.
            h4 Community
            p Collection of art and videos about a champion.
