extends layout

block jumbotron
    h1 #{name}
    p.
        Sorry but this summoner was not found on the NA servers and this site does not currently support
        any other region.


block content

block script
